

body {

}

@media{
	.post_img_padding{
    padding: 5px;
    margin:1px;
  }
}

@media(min-width:0px) {
  .personal_article_padding{
    padding: 3px 3px;
    margin:0px;
  }
}
@media(min-width: 768px) {
  .personal_article_padding {
    padding: 5px 5px;
    margin:0px;
  }
}
@media(min-width: 960px) {
  .personal_article_padding {
    padding: 10px 10px;
    margin:0px;
  }
}



.personal_articles_row{
	margin:0px auto;
	max-width:750px;

}

.personal_article_img{
	max-height: 250px;
	max-width: 250px;
}




