

body {

}


.post_article{
	max-width: 400px;
	background-color: rgb(245,245,245);
	border: thin;
	border-color: rgb(230,230,230);
	border-style: solid;
	margin-bottom: 30px;
}

.post_article > form{
	margin : 0px;
}

.post_warp_filebutton{
	width:100px;
	height:100px;
	margin : 15px auto;
	padding:5px 5px;
	overflow:hidden;
	background-image:url('/resources/img/mainPageImg/postImageAddButton.png');
	background-size: cover ;
	cursor:pointer;
}

 .post_warp_filebutton input {
 		width:100px;
		height:100px;
	 
        position：absolute;
        filter:alpha(opacity=0);
        opacity:0;
        -moz-opacity:0;
        cursor:pointer;
        
       
      

    }



.post_write_content{
	width: 100%;
	min-height: 100px;
	border: thin;
	border-bottom: thin;
	border-bottom-color: rgb(230,230,230);
	border-bottom-style: solid;
	border-top: thin;
	border-top-color: rgb(230,230,230);
	border-top-style: solid;
	background-color: white;
	
	padding : 10px;
	
}





.post_thumbnails{
	padding:5px;
}

.post_button{
	padding: 5px;
	background-color: white;
}
.post_button > input{
	float: right;
	margin-left: 15px;
	font-weight: 600;
	color : rgb(80,80,80);
}


.thumbnail2 {
    position: relative;
    padding-top: 100%;  /* 1:1 ratio */
    overflow: hidden;
}

.thumbnail2 .centered  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    transform: translate(50%,50%);
}

.thumbnail2 .centered img {
    position: absolute;
    top: 0;
    left: 0;   
    max-width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}




